.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bench/.deps/
bench/Makefile
bench/Makefile.in
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libm4rie.la
libtool
ltmain.sh
m4/lt*.m4
missing
src/.deps/
src/.dirstamp
*.lo
src/config.h
test-driver
*.trs
test_elimination
test_multiplication
test_ple
test_smallops
test_trsm
tests/.deps/
tests/.dirstamp
m4/libtool.m4
src/stamp-h1
bench/bench_elimination
bench/bench_multiplication
bench/bench_ple
bench/bench_smallops
bench/bench_trsm
bench/cpucycles.h
/.dir-locals.el
/bench/cpucycles-20060326/cpucycles.h
/m4rie.pc
*~
/.cache/
/compile_commands.json
/m4rie
/scratch
/scratch.c
